.form {
  background-color: #1a1937;
  opacity: 0.7;
  background-image: radial-gradient(circle at center center, #020104, #a275c9),
    repeating-radial-gradient(
      circle at center center,
      #050403,
      #050403,
      12px,
      transparent 24px,
      transparent 12px
    );
  background-blend-mode: multiply;
}
