/* Remove the scroll bar, but it still working */
html {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
  overflow: -moz-scrollbars-none !important;
}

body {
  /* background */
  background-repeat: no-repeat;
  background: linear-gradient(
      217deg,
      rgb(0 0 0 / 91%),
      rgb(43 24 24 / 0%) 70.71%
    ),
    linear-gradient(127deg, rgb(3 1 23 / 93%), rgb(32 14 49 / 13%) 70.71%),
    linear-gradient(336deg, rgb(2 2 25), rgb(0 2 31 / 91%) 70.71%);
  height: 100vh;
  /* Font */
  font-family: "Quicksand", sans-serif;
  /* padding and margin */
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
